<!DOCTYPE html>
<html>
<head>
    <title>Tableau de Bord - Machines Virtuelles</title>
</head>
<body>
    <h1>Tableau de Bord - Machines Virtuelles</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Utilisation CPU (%)</th>
                <th>Utilisation Mémoire (%)</th>
                <th>Mémoire Totale (MB)</th>
                <th>Mémoire Libre (MB)</th>
                <th>Statistiques Réseau</th>
                <th>Utilisation Disque (%)</th>
                <th>Espace Disque Total (GB)</th>
                <th>Espace Disque Libre (GB)</th>
            </tr>
        </thead> 
        <tbody>
            {% for machine in machines_virtuelles %}
                <tr>
                    <td>{{ machine[0] }}</td>
                    <td>{{ machine[1] }}%</td>
                    <td>{{ machine[2] }}%</td>
                    <td>{{ machine[3] }}</td>
                    <td>{{ machine[4] }}</td>
                    <td>{{ machine[5] }}</td>
                    <td>{{ machine[6] }}</td>
                    <td>{{ machine[7] }}</td>
                    <td>{{ machine[8] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
